fastapi
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-mistralai
langchain-text-splitters
langgraph
langsmith
numpy
opencv-python
pillow
pydantic
python-dotenv
torch
torchvision
uvicorn